@import"https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";

:root {
    --background-color: #111112;
    --secondary-backround-color: #111112;
    --thirdy-background-color: #111112;
    --primary-text-color: #fff;
    --secondary-text-color: rgba(140,149,156, 1);
    --primary-btn-color: #f0f0ff;
    --primary-box-shadow: 0 0 20px 4px rgb(17, 17, 18), 0 4px 80px -8px rgb(17, 17, 18), 0 4px 4px -2px rgb(17, 17, 18);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

body {
    font-family: "Poppins";
    background-color: var(--background-color);
    text-decoration: none;
    color: #111112;
    transition: all 0.3s linear;
}

@media only screen and (min-width: 640px) {
    .padding {
        padding-left: 21%;
        padding-right: 21%;
    }
    .section {
        padding-top: 3%;
        padding-bottom: 3% 
        
    }
    .head-name {
        font-size: 40px;
    }

    .modal-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .modal-item {
        text-align: left;
    }
}

.head-name {
    font-weight: 900;
}

.head-description {
    max-width: 45rem;
    font-size: 18px
}

.head-description-btn {
    color: var(--primary-btn-color)
}

.head-description-btn:hover {
    color: var(--primary-btn-color)
}

.contacts-title {
    font-size: 25px;
    font-weight: 600;
}

.contact-title {
    font-size: 22px;
    font-weight: 500;
}

.contact {
    width: 100%;
    display: inline-block;
    background-color: transparent;
    text-decoration: none;
    transition: .2s;
    margin: 8px 0;
    transform: scale(1);
}

.contact:hover {
    transform: scale(1.03);
    background-color: var(--secondary-backround-color);
    color: unset
}

.contact-left {
    display: inline-block;
    float: left;
}

.contact-right {
    display: inline-block;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    float: right;
}

.contact-right-img {
    filter: grayscale(100%);
    opacity: 0.3;
    padding: 6px 0px;
}

.contact-right-img-border-radius {
    border-radius: 999%;
}

.navbar-brand-text, .switch-mode-btn, .head-name, .head-description, #statusContent, .projects-title, .project-title, .githubs-title, .contacts-title, .contact-title, .github-title, .footer-text, #modal_shift_key, #modal_k_key, #modal_github_btn, .modal_tech_names, .command-palette-btn, #cat, #weather {
    color: var(--primary-text-color)
}

.github-description, .github-sdescription, .project-sdescription , .project-description, .contact-sdescription {
    color: var(--secondary-text-color)
}